body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container{
    text-align: center;
    background-color: gainsboro;
    padding: 30px;
    border: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

h1{
    font-size: 50px;
}

.value{
    font-size: 60px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    border-radius: 30px;
    font-size: 24px;
    padding: 10px;
    box-shadow: 0 4px 8px #5f5f5f;
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px #5f5f5f;
}

button:hover {
    background-color: #5f5f5f;
    color: white;
}